<h1><%= @contestant.name %></h1><br>
<h2><%= "Season #{@contestant.bachelorette.season_number} - #{@contestant.bachelorette.season_description}" %></h2>
<h3>Outings:</h3>
<ul>
  <% @contestant.outings.each do |outing| %>
    <li><%= link_to "#{outing.name}", "/outings/#{outing.id}" %></li>
  <% end %>
</ul>
